
<body>
    <div class="container">
        <h2 class="text-white">Sign Up</h2>
        <form action="#" method="post">
            <div class="form-group">
                <input type="text" id="a1" name="acno" placeholder="account number" class="form-control">
            </div>
            <div class="form-group">
                <input type="email" id="su1" name="uname" placeholder="username" class="form-control">
            </div>
            <div class="form-group">
            <input type="password" id="p1" name="psw" placeholder="enter password" class="form-control">
            </div>
            <div class="form-group">
                <input type="password" id="cp1" name="cpsw" placeholder="confirm password" class="form-control">
            </div>
            <button type="submit">Create</button>
        </form>
    </div>
</body>