
<body>
    <div class="col6 container">
        <h2 class="text-white">Sign Up</h2>
        <form [formGroup]="signupForm" action="#" method="post">

            <div class="form-group">
                <input formControlName="acno" type="text" id="a1" name="acno" placeholder="account number" class="form-control">
            </div>
            <div *ngIf="this.signupForm.get('acno')?.errors && this.signupForm.get('acno')?.touched">
                <p class="text-danger">include numbers only</p>
            </div>

            <div class="form-group">
                <input formControlName="uname" type="email" id="u1" name="uname" placeholder="username" class="form-control">
            </div>
            <div *ngIf="this.signupForm.get('uname')?.errors && this.signupForm.get('uname')?.touched">
                <p class="text-danger">include characters only</p>
            </div>

            <div class="form-group">
            <input formControlName="psw" type="password" id="p1" name="password" placeholder="enter password" class="form-control">
            </div>
            <div *ngIf="this.signupForm.get('psw')?.errors && this.signupForm.get('psw')?.touched">
                <p class="text-danger">include characters and numbers only</p>
            </div>

            <div class="form-group">
                <input formControlName="cpsw" type="password" id="p2" name="password1" placeholder="confirm password" class="form-control">
            </div>
            <div *ngIf="pswCheck">
                <p class="text-danger">Passwords doesn't match</p>
            </div>

            <button (click)="signup()" type="submit">Create</button>
        </form>
    </div>
</body>